<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="mvc1.user.MemberMapper">




    <select id="loginPro"  parameterType="String" resultType="mvc1.user.Member">
  SELECT * FROM member WHERE studentNum=#{studentNum} and password=#{password}
    </select>
    

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT member (studentNum,name,email,password) 
        VALUES (#{studentNum},#{name},#{email},#{password})
    </insert>
    
    

</mapper>
